@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        scroll-behavior: smooth;
    }
    .app{
        @apply w-full h-full bg-neutral-900 text-white m-0 p-0;
    }

    .nav-link{
        @apply w-25% font-sora text-2xl font-semibold text-neutral-400 hover:text-white;
    }
  .button{
    @apply w-48 h-12 bg-red-800 rounded-lg font-sora text-2xl font-bold;
    box-shadow: 0 6px #333;
  }
  .button:hover {
    @apply bg-red-900;
  }
  .button:active {
    @apply bg-red-900;
    box-shadow: 0 2px #222;
    transform: translateY(4px);
  }

}

